<div class="col-md-6 user-container">
  <h2 class="text-center">Cadastro</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" formControlName="nome" placeholder="nome" name="nome" class="form-control" id="nome">
    </div>

    <div class="form-group">
      <label for="origem">Origem:</label>
      <input type="origem" formControlName="origem" placeholder="origem" name="origem" class="form-control" id="origem">
    </div>

    <div class="form-group">
      <label for="destino">Destino:</label>
      <input formControlName="destino" placeholder="destino" name="destino" class="form-control" id="destino">
    </div>

    <div class="form-group">
      <label for="dataViagem">Data/Hora:</label>
      <input id="dataViagem" formControlName="dataViagem" placeholder="dataViagem" name="dataViagem" type="datetime-local" class="form-control">
    </div>

      <button class="btn btn-success">Adicionar</button>
      <button (click)="voltar()" class="btn btn-danger">Voltar</button>
  </form>
</div>
  