<div class="row">

    <div class="col-md-6 login-container">
      <h2 style="margin: auto">Cadastrar</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input type="text" class="form-control" formControlName="nome" id="nome" autocomplete="off">
          <div class="error" *ngIf="loginForm.controls['nome'].hasError('required') && loginForm.controls['nome'].touched">Obrigatório</div>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" class="form-control" formControlName="email" id="email" autocomplete="off">
          <div class="error" *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">Obrigatório</div>
        </div>
        <div class="form-group">
          <label for="pwd">Senha:</label>
          <input type="senha" class="form-control" formControlName="senha" id="senha" autocomplete="off">
          <div class="error" *ngIf="loginForm.controls['senha'].hasError('required') && loginForm.controls['senha'].touched">Obrigatório</div>
        </div>
        <button class="col-md-2 btn btn-success" [disabled]="loginForm.invalid">Cadastrar</button>
        <div *ngIf="invalidLogin" class="error">
        </div>          
      </form>      
    </div>
  </div>
  